<div class="bg-white/20 backdrop-blur-md border border-white/30 rounded-xl shadow-lg p-6 gap-2 grid place-items-center">
     <div class="h-20">
        <img [src]="productData().image" [alt]="productData().description" class="h-full">
    </div>
    <span>
        {{productData().description}}
    </span>
    <div class="flex items-center gap-2">
        <img src="icons/coin2.png" alt="coin" class="size-5 ml-2">
        <span>
            ${{productData().price}}
        </span>

    </div>
    @if(totalCoins() >= productData().price){
        <button class="p-2 w-full rounded-2xl cursor-pointer bg-linear-to-r from-pink-500 via-purple-600 to-purple-700 hover:shadow-2xl transition delay-50 duration-300 ease-in-out hover:-translate-y-1 hover:scale-110" (click)="getReward(productData().price)">Comprar</button>
    }
</div>