/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

body{
  background-image: url('/images/background.png');
  background-position: center;
  background-size: cover;
}

.blur-gradient{
  background-color: rgba(0, 0, 0, 0.5);
  
}

.press-start-2p-regular, h1, h2, h3, .button-title{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.roboto-mono-regular, p, span, input, select, option {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}